nav a {
    padding: 1rem;
  }

.cardStyle{
  display: flex;
  align-items: center;
  align-self: center;
  height: 32rem;
  width: 40rem;
}


.container {
  border: 4px solid #d6d7da;
  margin: 45px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
  width: 50%;
}